<script>
    function doOurStuff() {


        var allLinks = Array.from(document.getElementsByTagName('a'));
        allLinks.forEach(linkEl => linkEl.addEventListener('click',
            function interceptLinkClick(event) {
                console.log('Intercepted click on '  + linkEl.href);
                event.preventDefault();
                window.top.postMessage({url: linkEl.href}, '*');
            }
        ));
        console.log('Hooks set for ' + window.location);
    }

    runWhenLoaded(doOurStuff);

    function runWhenLoaded(func) {
        // Run directly or as soon as possible.
        if (['loaded', 'interactive', 'complete'].indexOf(document.readyState) > -1) {
            func();
        }
        else {
            // Run as soon as the DOM has loaded.
            window.addEventListener("load", func);
        }
    }
</script>

<!-- Thumbnailer -->

<script type="text/javascript" src="http://localhost:8080/static/__pywb/html2canvas.min.js"></script>
<script>
window.onload = function () {
    console.log('top', window.top);


    html2canvas(document.body).then(
        function (canvas) {
            window.top.postMessage(JSON.stringify({
                type: 'screenshot',
                data: canvas.toDataURL()
            }), '*');
        }
    )

}
</script>